<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title_sparta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>

        .page_title{
            margin-left : 30px;
            margin-top : 50px;
        }

    </style>



</head>


<body>

<div class="page_title">
    <h1>운동계획 및 달성률 체크</h1>
    <p></p>
    <h4>월과 목표하는 운동횟수를 입력해주세요.</h4>
</div>



</body>
</html>