<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>식단관리</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>

        body {
            background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQedZzOMdGnc_UHZ3li-1VJYJ1g89HjUagvOw&usqp=CAU");

        }

        h5 {
            margin-top: 100px;
            margin-left: 50px;
        }

        .wrap {
            position: absolute;
            margin-top: 30px;
            margin-left: 50px;
            width: 400px;
        }

        .food-management {
            position: absolute;
            margin-left: 50px;
            width: 400px;
            /*margin-bottom: 100px;*/
        }

        .food-box {
            margin-top: 30px;
        }

        .save-bt {
            margin-left: 80%;
        }

        .menuSaveBt {
            margin-left: 80%;
        }

        .button {
            width: 50px;
            font-size: 17px;

        }

        .jumbo {

            margin-left: 700px;
            width: 800px;
            margin-bottom: 200px;
        }

        .jumbo2 {
            margin-top: 30px;
            margin-left: 700px;
            width: 800px;
            /*margin-bottom: 100px;*/
        }

        .lead {
            margin-top: 30px;
            font-size: 20px;
        }
    </style>

    <script>
        $(document).ready(function () {
            show_calory()
        });

        function save_info() {
            let name = $('#name-select').val()
            let gender = $('#gender-select').val()
            let height = $('#height-select').val()
            let active = $('#active-value').val()


            var height_type = /\d{3}$/;
            if (name == '' || gender == '성별' || height == "" || active == '활동지수 선택') {
                alert('정보를 입력해주세요!!!')
                return;
            } else if (!height_type.test(height)) {
                alert('키는 숫자형식 3자리로 입력하세요!')
                return;
            }

            $.ajax({
                type: "POST",
                url: "/calory",
                data: {
                    name_give: name,
                    gender_give: gender,
                    height_give: height,
                    active_give: active
                },
                success: function (response) { // 성공하면

                    if (response["result"] == "success") {
                        // 키를 숫자형식 3자리로 입력하기!!
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })

        }

        function show_calory() {
            $.ajax({
                type: "GET", // GET 방식으로 요청한다.
                url: "/calory",
                data: {}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    // console.log(response['infoes']) // 서버에서 준 결과를 이용해서 나머지 코드를 작성
                    all_info = response['infoes'];
                    let height = all_info[all_info.length - 1]['height']
                    let name = all_info[all_info.length - 1]['name']
                    let active = all_info[all_info.length - 1]['active']
                    let gender = all_info[all_info.length - 1]['gender']

                    if (gender == 1) {
                        resultCal = (height - 100) * 0.9 * active + 500;
                        resultCal = Math.round(resultCal);
                    } else {
                        resultCal = (height - 100) * 0.9 * active;
                        resultCal = Math.round(resultCal);
                    }

                    temphtml = `<div class="jumbo" id="jumbobox">
                                        <div class="jumbotron jumbotron-fluid">
                                            <div class="container">
                                                <center>
                                                    <h2 class="display-4" id="calory-name"> 권장 칼로리 </h2>
                                                </center>
                                                <p></p>
                                                <center>
                                                    <p class="lead" id="calory-info">
                                                        <span style="color:black; font-size: larger; font-weight: bold">${name}</span> 님의 하루 권장 칼로리는
                                                        <span style="color:red; font-size: larger; font-weight: bold"> ${resultCal} cal</span> 입니다.
                                                    </p>
                                                </center>
                                            </div>
                                        </div>
                                    </div>`

                    $('#jumbobox').replaceWith(temphtml);

                }
            })
        }

        function menu_info() {

            let breakfast = $('#breakfast').val()
            let lunch = $('#lunch').val()
            let dinner = $('#dinner').val()

            if (breakfast == "" || lunch == " " || dinner == "") {
                alert('메뉴를 입력해주세요!')
                return;
            }
            $.ajax({
                type: "GET", // GET 방식으로 요청한다.
                url: "/calory",
                data: {}, // 요청하면서 함께 줄 데이터 (GET 요청시엔 비워두세요)
                success: function (response) { // 서버에서 준 결과를 response라는 변수에 담음
                    // console.log(response['infoes']) // 서버에서 준 결과를 이용해서 나머지 코드를 작성
                    all_info = response['infoes'];
                    let height = all_info[all_info.length - 1]['height']
                    let name = all_info[all_info.length - 1]['name']
                    let active = all_info[all_info.length - 1]['active']
                    let gender = all_info[all_info.length - 1]['gender']

                    if (gender == 1) {
                        resultCal = (height - 100) * 0.9 * active + 500;
                        resultCal = Math.round(resultCal);
                    } else {
                        resultCal = (height - 100) * 0.9 * active;
                        resultCal = Math.round(resultCal);
                    }


                    $.ajax({
                        type: "POST",
                        url: "/food",
                        data: {breakfast_give: breakfast, lunch_give: lunch, dinner_give: dinner},
                        success: function (response) { // 성공하면
                            if (response["result"] == "success") {
                                    if (response['msg'] == 1){
                                        alert('아침 메뉴가 DB에없는 메뉴입니다.\n다른메뉴나 대표메뉴 이름으로 입력해주세요.')
                                        return;
                                    }
                                    else if (response['msg'] == 2){
                                        alert('점심 메뉴가 DB에없는 메뉴입니다.\n다른메뉴나 대표메뉴 이름으로 입력해주세요.')
                                        return;
                                    }
                                    else if (response['msg'] == 3){
                                        alert('저녁 메뉴가 DB에없는 메뉴입니다.\n다른메뉴나 대표메뉴 이름으로 입력해주세요.')
                                        return;
                                    }
                                    // window.location.reload();
                                    let breakfast = response['menu']['break_cal']
                                    let lunch = response['menu']['lunch_cal']
                                    let dinner = response['menu']['dinner_cal']

                                    total = breakfast + lunch + dinner;
                                    console.log(total);
                                    console.log(resultCal);
                                    if (total > resultCal) {
                                        result = '권장칼로리대비 ' + (total - resultCal) + 'cal 만큼 많습니다.<br/>운동하셔야 겠어요!'
                                    } else if (total < resultCal) {
                                        result = '권장칼로리대비 ' + (resultCal - total) + 'cal 만큼 부족합니다.<br/>조금 더 섭취하세요.';
                                    } else {
                                        result = '권장칼로리 입니다.<br/>완벽합니다!!!'
                                    }

                                    temphtml = `<p class="lead" id="calory-compare">
                                         <span style="font-size: 23px; font-weight: bold">${name}님의 금일 섭취한 칼로리는 ${result}</span>
                                        </p>`

                                    $('#calory-compare').replaceWith(temphtml)


                            }
                        }
                    })
                }
            })
        }


    </script>

</head>

<body>

<h5>하루 권장 칼로리 계산을위해 아래 정보를 입력해주세요.</h5>
<div class="wrap">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
        </div>
        <input type="text" class="form-control" id="name-select" aria-label="Default"
               aria-describedby="inputGroup-sizing-default">
    </div>

    <select class="custom-select custom-select-lg mb-3" id="gender-select">

        <option selected>성별</option>
        <option value="1">남자</option>
        <option value="0">여</option>
    </select>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">키</span>
        </div>
        <input type="text" class="form-control" id="height-select" aria-label="Default"
               aria-describedby="inputGroup-sizing-default">
    </div>


    <select class="custom-select custom-select-lg mb-3" id="active-value">

        <option selected>활동지수 선택</option>
        <option value="25">앉아서 주로 활동</option>
        <option value="32">규칙적인 생활로 보통의 활동</option>
        <option value="40">평소 신체 활동이 많은 경우</option>
    </select>
    <div class="save-bt">
        <button type="button" class="btn btn-success">
            <div class="button" onclick="save_info()">저장</div>
        </button>
    </div>
</div>

<div class="jumbo" id="jumbobox">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <center>
                <h2 class="display-4" id="calory-name">권장 칼로리 정보</h2>
            </center>
            <p class="lead" id="calory-info"><span style="font-size: 20px"></span></p>
        </div>
    </div>
</div>

<h5>식단을 입력해 주세요.</h5>
<div class="food-management">
    <div class="food-box">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">아침</span>
            </div>
            <input type="text" class="form-control" id="breakfast" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">점심</span>
            </div>
            <input type="text" class="form-control" id="lunch" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">저녁</span>
            </div>
            <input type="text" class="form-control" id="dinner" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
    <div class="menuSaveBt">
        <button type="button" class="btn btn-success">
            <div class="button" onclick="menu_info()">저장</div>
        </button>
    </div>

</div>

<div class="jumbo2" id="jumbobox2">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <center>
                <p class="lead" id="calory-compare"><span style="font-size: 20px"></span></p>
            </center>
        </div>
    </div>
</div>


</body>

</html>